.git-wiki-tools, .git-wiki-search {
    display: none;
}

button.w3-bar-item.w3-button.w3-large.w3-hide-large {
    display: none;
}

.element::-webkit-scrollbar {
    display: none;
}

.element {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
